{# templates.main_app.index.html #}

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>

    <link href="{% static 'libs/jsonTree.css' %}" rel="stylesheet"/>
    <script src="{% static 'libs/jsonTree.js' %}"></script>

    <style>
        ul, li {
            list-style-type: none;
        }
    </style>
    <title>Document</title>
</head>
<body>
<!-- header-start -->
<nav class="navbar  navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        {#        Header Logo#}
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {#                    Some Link#}
                    <a class="nav-link active" aria-current="page" href="#"></a>
                </li>
            </ul>
            <form action="{% url 'users:logout_url' %}" method="post">
                <div class="d-flex">
                    <button class="btn btn-outline-danger me-2" type="submit">Logout</button>
                </div>
            </form>
        </div>
    </div>
</nav>
<!-- header-end -->

<div class="container">
    <div class="row">
        <form id='form_id'>
            <h1>Form</h1>
            <div class="row">
                <div class="mb-3 col">
                    <label for="social" class="form-label">Social Media</label>
                    <select class="form-select" id='social' name="app_name" onchange="OnChangApplication()" required>
                        <option>
                            None
                        </option>
                        {% for app_name in apps_name %}
                            <option value="{{ app_name }}">{{ app_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 col">
                    <label for="api" class="form-label">API</label>
                    <select disabled="true" class="form-select" id='apis_name_for_select' name="api_name"
                            onchange="OnChangApi()"
                            required>
                        <option selected>
                            None
                        </option>
                        {% for api_name in apis_name %}
                            <option value="{{ api_name }}">{{ api_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col">
                    <label for="username" class="form-label">Username</label>
                    <input disabled="true" type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3 col">
                    <label for="password" class="form-label">Password</label>
                    <input disabled="true" type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="account" class="form-label">Account ID</label>
                <input disabled="true" type="text" class="form-control" id="account" name="account" required>
            </div>
            <div class="row">
                <div class="mb-3 col-md-9">
                    <label class="form-label">Sokcs IP</label>
                    <input disabled="true" type="text" class="form-control" id="socks1" name="socks1">
                </div>
                <div class="mb-3 col-md-3">
                    <label class="form-label">Port</label>
                    <input disabled="true" type="text" class="form-control" id="socks2" name="socks2">
                </div>
            </div>
            <div class="mb-3">
                <a class="btn btn-success" onclick="onSubmitClick()">Submit</a>
            </div>
        </form>
        <h1>Result</h1>
        <div id="result" style="height: 300px;overflow: scroll"></div>
    </div>
</div>
<script>
    const onSubmitClick = () => {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'main_application:changer_url' %}");
        xhr.onload = function (event) {
            const resultItem = document.getElementById("result");
            console.log(JSON.parse(event.target.response))
            jsonTree.create(JSON.parse(event.target.response), resultItem);
        };
        var formData = new FormData(document.getElementById("form_id"));
        xhr.send(formData);
    }
    const OnChangApplication = () => {
        const social = document.getElementById("social");
        var value = social.options[social.selectedIndex].value;
        if (value === "None") {
            document.getElementById("apis_name_for_select").disabled = true;
            document.getElementById("apis_name_for_select").value = 'None';

            document.getElementById("username").disabled = true;
            document.getElementById("username").value = '';

            document.getElementById("password").disabled = true;
            document.getElementById("password").value = '';

            document.getElementById("account").disabled = true;
            document.getElementById("account").value = '';

            document.getElementById("socks1").disabled = true;
            document.getElementById("socks1").value = '';

            document.getElementById("socks2").disabled = true;
            document.getElementById("socks2").value = '';
        } else {
            document.getElementById("apis_name_for_select").disabled = false;
            fetch("{% url 'base_settings:app_apis_name' %}", {
                method: 'POST',
            })
                .then(response => console.log(response.formData()))
            console.log('dddddddddddddddddd')
        }
    }
    const OnChangApi = () => {
        const social = document.getElementById("apis_name_for_select");
        var value = social.options[social.selectedIndex].value;
        if (value === "None") {
            document.getElementById("username").disabled = true;
            document.getElementById("username").value = '';
            document.getElementById("password").disabled = true;
            document.getElementById("password").value = '';
            document.getElementById("account").disabled = true;
            document.getElementById("account").value = '';
            document.getElementById("socks1").disabled = true;
            document.getElementById("socks1").value = '';
            document.getElementById("socks2").disabled = true;
            document.getElementById("socks2").value = '';

        } else {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'base_settings:app_apis_name' %}");
            xhr.onload = function (event) {
                document.getElementById("username").disabled = false;
                document.getElementById("password").disabled = false;
                document.getElementById("account").disabled = false;
                document.getElementById("socks1").disabled = false;
                document.getElementById("socks2").disabled = false;
            };

            var formData = new FormData(document.getElementById("form_id"));
            xhr.send(formData);
        }
    }
</script>
</body>
</html>